@import 'tailwindcss';
@import "@fortawesome/fontawesome-free/css/all.min.css";
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "@fontsource/playfair-display";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-amani: #7A1220;
  --color-amani-light: #9E1B2B;
  --color-amani-dark: #5C0D18;

  /* Better for dark mode */
  --color-amani-200: #F3D7DC;
  --color-amani-300: #E7B3BD;
  --color-amani-400: #D77A8B;
}

html{
  scrollbar-width: thin;
  scrollbar-color: #7A1220 rgba(255, 255, 255, 0.6) ;
}
html.dark{
  scrollbar-color: #7A1220 #00000099 ;
  
}
body {
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}


